# Домашнее задание 1

## Описание данных

В архиве находится информация о студентах. Всего 10 групп студентов.  
Файлы делятся на две категории:
*   `Students_info_i` - информация о студентах из группы `i`
*   `Students_marks_i` - оценки студентов из группы `i` за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут:

 https://www.kaggle.com/residentmario/renaming-and-combining#Combining

## Практика

In [1]:
import numpy as np
# импортируем библиотеку Pandas
import pandas as pd
import glob
import os

In [2]:
%%capture
# загружаем данные
!wget https://github.com/evgpat/datasets/raw/main/students.zip

In [3]:
# проверяем загрузку (наличие файла students.zip)
!ls -lah

total 104
drwxr-xr-x  12 vladimirmikhailov  staff   384B Jan  4 23:29 .
drwxr-xr-x   5 vladimirmikhailov  staff   160B Dec 29 21:21 ..
-rw-r--r--@  1 vladimirmikhailov  staff   6.0K Jan  4 04:30 .DS_Store
drwxr-xr-x   9 vladimirmikhailov  staff   288B Jan  4 15:23 .git
-rw-r--r--@  1 vladimirmikhailov  staff    40B Dec 29 21:52 .gitignore
drwxr-xr-x   8 vladimirmikhailov  staff   256B Dec 31 00:50 .idea
-rw-r--r--@  1 vladimirmikhailov  staff   326B Dec 29 21:52 pyvenv.cfg
-rw-r--r--@  1 vladimirmikhailov  staff   744B Dec 29 21:59 requirements.txt
drwxrwxr-x  22 vladimirmikhailov  staff   704B Jul 25 14:40 students
-rw-r--r--@  1 vladimirmikhailov  staff    16K Jan  3 15:52 students.zip
-rw-r--r--@  1 vladimirmikhailov  staff    16K Jan  4 23:29 students.zip.1
drwxr-xr-x  13 vladimirmikhailov  staff   416B Jan  4 23:30 venv

In [8]:
# разархивируем данные
!unzip students.zip

Archive:  students.zip
   creating: students/
  inflating: students/Students_info_0.csv
  inflating: students/Students_info_1.csv
  inflating: students/Students_info_2.csv
  inflating: students/Students_info_3.csv
  inflating: students/Students_info_4.csv
  inflating: students/Students_info_5.csv
  inflating: students/Students_info_6.csv
  inflating: students/Students_info_7.csv
  inflating: students/Students_info_8.csv
  inflating: students/Students_info_9.csv
  inflating: students/Students_marks_0.csv
  inflating: students/Students_marks_1.csv
  inflating: students/Students_marks_2.csv
  inflating: students/Students_marks_3.csv
  inflating: students/Students_marks_4.csv
  inflating: students/Students_marks_5.csv
  inflating: students/Students_marks_6.csv
  inflating: students/Students_marks_7.csv
  inflating: students/Students_marks_8.csv
  inflating: students/Students_marks_9.csv

In [2]:
# смотрим что получилось
!ls -lah students

total 240
drwxrwxr-x  22 vladimirmikhailov  staff   704B Jul 25 14:40 .
drwxr-xr-x  12 vladimirmikhailov  staff   384B Jan  4 23:29 ..
-rw-rw-r--   1 vladimirmikhailov  staff   5.7K Jan 17  2021 Students_info_0.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.9K Jan 17  2021 Students_info_1.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.8K Jan 17  2021 Students_info_2.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.8K Jan 17  2021 Students_info_3.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.8K Jan 17  2021 Students_info_4.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.9K Jan 17  2021 Students_info_5.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.8K Jan 17  2021 Students_info_6.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.8K Jan 17  2021 Students_info_7.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.8K Jan 17  2021 Students_info_8.csv
-rw-rw-r--   1 vladimirmikhailov  staff   5.9K Jan 17  2021 Students_info_9.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.3K Jan 17  2021 Students_marks_0.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_1.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_2.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_3.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_4.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_5.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_6.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_7.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_8.csv
-rw-rw-r--   1 vladimirmikhailov  staff   1.4K Jan 17  2021 Students_marks_9.csv

### Задание 1

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата

In [3]:
def recursive_concat_csv_files(path):
    # Initialize empty dataframes for Students and StudentsMark data
    students_df = pd.DataFrame()
    students_mark_df = pd.DataFrame()

    # Define the mask patterns
    students_pattern = "Students_info"
    students_mark_pattern = "Students_marks"

    # Walk through input directory tree
    for root, dirs, files in os.walk(path):
        for filename in files:
            # Check if the file matches the "Students_Info" pattern
            if filename.startswith(students_pattern) and filename.endswith(".csv"):
                file_path = os.path.join(root, filename)
                df = pd.read_csv(file_path)
                students_df = pd.concat([students_df, df], ignore_index=True)

            # Check if the file matches the "Students_marks" pattern
            if filename.startswith(students_mark_pattern) and filename.endswith(".csv"):
                file_path = os.path.join(root, filename)
                df = pd.read_csv(file_path)
                students_mark_df = pd.concat([students_mark_df, df], ignore_index=True)

    return students_df, students_mark_df

# Provide the path to the root directory where you want to search for CSV files
path = "/Users/vladimirmikhailov/PycharmProjects/lesson1/students"

# Call the function to concatenate CSV files based on the patterns
students_data, students_mark_data = recursive_concat_csv_files(path)

# Now, you have two dataframes: students_data and students_mark_data

In [4]:
students_data

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,100,male,group B,some college,standard,none,group2
1,101,male,group D,bachelor's degree,standard,completed,group2
2,102,female,group D,associate's degree,standard,none,group2
3,103,male,group B,high school,standard,completed,group2
4,104,male,group C,some college,standard,completed,group2
...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10
996,996,male,group C,high school,free/reduced,none,group10
997,997,female,group C,high school,free/reduced,completed,group10
998,998,female,group D,some college,standard,completed,group10
999,999,female,group D,some college,free/reduced,none,group10

In [5]:
students_mark_data

     index  math score  reading score  writing score
0      100          79             67             67
1      101          68             74             74
2      102          85             91             89
3      103          60             44             47
4      104          98             86             90
..     ...         ...            ...            ...
995    995          88             99             95
996    996          62             55             55
997    997          59             71             65
998    998          68             78             77
999    999          77             86             86

[1000 rows x 4 columns]

In [6]:
students_data.shape

(1000, 7)

In [7]:
students_mark_data.shape

(1000, 4)

In [8]:
general_df = pd.merge(students_data, students_mark_data, on='index', how='outer')

In [9]:
general_df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,100,male,group B,some college,standard,none,group2,79,67,67
1,101,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,102,female,group D,associate's degree,standard,none,group2,85,91,89
3,103,male,group B,high school,standard,completed,group2,60,44,47
4,104,male,group C,some college,standard,completed,group2,98,86,90
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

### Задание 2

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы

In [10]:
general_df.drop('index', axis=1, inplace=True)
general_df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
5,female,group C,some college,standard,none,group2,58,67,72
6,female,group D,master's degree,standard,none,group2,87,100,100
7,male,group E,associate's degree,standard,completed,group2,66,63,64
8,female,group B,associate's degree,free/reduced,none,group2,52,76,70
9,female,group B,some high school,standard,none,group2,70,64,72

### Задание 3

Выведите на экран размеры полученной таблицы

In [11]:
general_df.shape

(1000, 9)

### Задание 4

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [12]:
general_df.describe().transpose()

                count    mean        std   min    25%   50%   75%    max
math score     1000.0  66.089  15.163080   0.0  57.00  66.0  77.0  100.0
reading score  1000.0  69.169  14.600192  17.0  59.00  70.0  79.0  100.0
writing score  1000.0  68.054  15.195657  10.0  57.75  69.0  79.0  100.0

In [13]:
general_df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
group                          object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [14]:
def convert_object_to_category_with_coerce(df):

    converted_df = df.copy()  # Create a copy of the input DataFrame (to avoid modifying it in-place)

    for col in converted_df.columns:
        if converted_df[col].dtype == 'object':
            try:
                converted_df[col] = converted_df[col].astype('category', errors='coerce')
            except ValueError:
                # Handling conversion errors, if any = just a stub yet
                pass

    return converted_df

In [15]:
df = convert_object_to_category_with_coerce(general_df)

In [16]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

In [17]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
group                          object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [18]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
group                          10
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [19]:
df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
836,male,group E,high school,standard,none,group9,73,64,57
962,female,group E,associate's degree,standard,none,group10,100,100,100
333,male,group B,associate's degree,standard,none,group4,90,78,81
783,female,group D,associate's degree,standard,completed,group6,73,75,80
202,male,group C,associate's degree,standard,none,group3,69,77,69

In [45]:
# df['gender'] = df['gender'].astype('category')
# df['race'] = df['race/ethnicity'].astype('category')
# df['parent_ed_level'] = df['parental level of education'].astype('category')
# df['lunch'] = df['lunch'].astype('category')
# df['test_prep'] = df['test preparation course'].astype('category')
# df['group'] = df['group'].astype('category')

In [87]:
# df.dtypes

### Задание 5

Проверьте, есть ли в таблице пропущенные значения

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [20]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Задание 6

Выведите на экран средние баллы студентов по каждому предмету (`math`, `reading`, `writing`)

In [21]:
print(df['math score'].mean())
print(df['reading score'].mean())
print(df['writing score'].mean())

66.089
69.169
68.054

In [22]:
# Evgeniy's version
scores = ['math score', 'reading score', 'writing score']
df[scores].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

### Задание 7

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)?

Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [31]:
# ваш код здесь
df_completed = df[df['test preparation course'] == 'completed']
print(df_completed.describe()[['math score']].loc['mean'].round(3))
print(df_completed.describe()[['reading score']].loc['mean'].round(3))
print(df_completed.describe()[['writing score']].loc['mean'].round(3))

math score    69.696
Name: mean, dtype: float64
reading score    73.894
Name: mean, dtype: float64
writing score    74.419
Name: mean, dtype: float64

In [33]:
df_non_completed = df[df['test preparation course'] != 'completed']
print(df_non_completed.describe()[['math score']].loc['mean'].round(3))
print(df_non_completed.describe()[['reading score']].loc['mean'].round(3))
print(df_non_completed.describe()[['writing score']].loc['mean'].round(3))

math score    64.078
Name: mean, dtype: float64
reading score    66.534
Name: mean, dtype: float64
writing score    64.505
Name: mean, dtype: float64

In [26]:
#Evgeniy's version
df.groupby('test preparation course')[scores].mean().round(3)

                         math score  reading score  writing score
test preparation course
completed                    69.696         73.894         74.419
none                         64.078         66.534         64.505

### Задание 8

Выведите на экран все различные значения из столбца `lunch`

In [34]:
# ваш код здесь
print(df['lunch'].unique())

['standard' 'free/reduced']

### Задание 9

Переименуйте колонку `parental level of education` в `education`, а `test preparation course` в `test preparation` с помощью метода pandas [`rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [35]:
# ваш код здесь
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace=True)
df.columns

Index(['gender', 'race/ethnicity', 'education', 'lunch', 'test preparation',
       'group', 'math score', 'reading score', 'writing score'],
      dtype='object')

### Задание 10

**Зафиксируем минимальный балл для сдачи экзамена**

In [36]:
passmark = 50

**Ответьте на вопросы**
* Какая доля студентов сдала экзамен по математике (passmark > 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [37]:
# ваш код здесь
print(len(df[df['math score'] > 50]) / len(df) * 100, "%")

85.0 %

In [39]:
#Evgeniy's version
(df['math score'] > passmark).mean().round(3)

0.85

In [68]:
# ваш код здесь
print(len(df_completed[df_completed['math score'] > 50]) / len(df))

0.325

In [41]:
#Evgeniy's version
(df_completed['math score'] > passmark).mean().round(3)

0.908

In [42]:
# ваш код здесь
print(len(df_non_completed[df_non_completed['math score'] < 50].loc[df_non_completed['gender'] == 'female']) / len(df) * 100, "%")

7.000000000000001 %

### Задание 11

С помощью `groupby` выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [46]:
def myGroupBy_mean (df):
    return df.groupby('race/ethnicity')['reading score'].mean()

In [48]:
%%time
print(myGroupBy_mean(df))

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
CPU times: user 1.14 ms, sys: 440 µs, total: 1.58 ms
Wall time: 1.32 ms

In [50]:
# import time
# 
# def myGroupBy_mean (df):
#     return df.groupby('race/ethnicity')['reading score'].mean()
# 
# 
# start_time = time.time()
# print(myGroupBy_mean(df))
# end_time = time.time()
# 
# execution_time = end_time - start_time
# print(f"Execution time: {execution_time} seconds")

In [51]:
def myGroupBy_min (df):
    return df.groupby('education')['writing score'].min().sort_values(ascending=True)

In [52]:
%%time
print(myGroupBy_min(df))

education
some high school      10
high school           15
some college          19
associate's degree    35
bachelor's degree     38
master's degree       46
Name: writing score, dtype: int64
CPU times: user 1.2 ms, sys: 733 µs, total: 1.93 ms
Wall time: 2 ms

In [49]:
# def myGroupBy_min (df):
#     return df.groupby('education')['writing score'].min().sort_values(ascending=True)
# 
# start_time = time.time()
# print(myGroupBy_min(df))
# end_time = time.time()
# 
# execution_time = end_time - start_time
# print(f"Execution time: {execution_time} seconds")

In [53]:
# ваш код здесь
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

### Задание 12

Выполните задание 11 с помощью циклов. Сравните время выполнения

In [113]:
unique_race = df['race/ethnicity'].drop_duplicates()

In [114]:
print(unique_race)

0     group B
1     group D
4     group C
7     group E
12    group A
Name: race/ethnicity, dtype: object

In [134]:
def myGroupBy_mean_circle(unique_race):
    print(unique_race)

In [133]:
myGroupBy_mean_circle(unique_race)

0     group B
1     group D
4     group C
7     group E
12    group A
Name: race/ethnicity, dtype: object

### Задание 13

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования.  
То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц ([pivot_table](https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas))

In [155]:
# ваш код здесь
mean = pd.pivot_table(df, index=['gender','education'], values={'math score', 'reading score', 'writing score'})
mean

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

### Задание 14

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице `df` под названием `Math_PassStatus` и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [157]:
# ваш код здесь
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'P')

In [171]:
print((df['Math_PassStatus'] == 'P').sum())
print((df['Math_PassStatus'] == 'F').sum())

865
135

In [172]:
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'P')

In [173]:
print((df['Reading_PassStatus'] == 'P').sum())
print((df['Reading_PassStatus'] == 'F').sum())

910
90

In [174]:
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'P')

In [175]:
print((df['Writing_PassStatus'] == 'P').sum())
print((df['Writing_PassStatus'] == 'F').sum())

886
114

### Задание 15

Сколько студентов успешно сдали все экзамены?

Создайте столбец `OverAll_PassStatus` и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [213]:
# ваш код здесь
df['OverAll_PassStatus'] = df.apply(lambda x: 'P' if (x['Math_PassStatus']=='P' and x['Reading_PassStatus'] =='P' and x['Writing_PassStatus']=='P') else 'F', axis=1)

In [214]:
len(df[df['OverAll_PassStatus'] == 'P'])

812

### Задание 16

Переведем баллы в оценки

**Система перевода баллов в оценки**
*   [90;100] = A
*   [80;90) = B
*   [70;80) = C
*   [60;70) = D
*   [50;60) = E
*   [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец `Grade` и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [225]:
df[scores].mean(axis=1).round(3)

0      71.000
1      72.000
2      88.333
3      50.333
4      91.333
        ...
995    94.000
996    57.333
997    65.000
998    74.333
999    83.000
Length: 1000, dtype: float64

In [227]:
def GetGrade(average_mark):
    # ваш код здесь
    match average_mark:
        case mark if 90 <= mark <= 100:
            return 'A'
        case mark if 80 <= mark <= 90:
            return 'B'
        case mark if 70 <= mark <= 80:
            return 'C'
        case mark if 60 <= mark <= 70:
            return 'D'
        case mark if 50 <= mark <= 60:
            return 'E'
        case mark if 0 <= mark <= 50:
            return 'F'
        case _:
            return 'None'

# ваш код здесь
df['Grade'] = df[scores].mean(axis=1).round(3).apply(lambda x: GetGrade(x))

In [253]:
df['Grade'].value_counts()

Grade
C    261
D    256
E    182
B    146
F    103
A     52
Name: count, dtype: int64